.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  z-index: 10;
  position: relative;
  background: transparent;
}

.terminal-container {
  width: 100%;
  max-width: 600px;
  background: rgba(10, 15, 24, 0.8);
  backdrop-filter: blur(15px);
  z-index: 20;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-family: "Fira Code", "Courier New", monospace;
}

.terminal-header {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  .buttons {
    display: flex;
    gap: 8px;
    &:hover span::after {
      opacity: 1;
    }
    span {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &::after {
        content: "";
        font-size: 8px;
        color: rgba(0, 0, 0, 0.5);
        opacity: 0; // Ocultos por defecto
        transition: opacity 0.2s;
        font-weight: bold;
      }
      &.close {
        background: #ff5f56;
        &::after {
          content: "✕";
        }
      }
      &.minimize {
        background: #ffbd2e;
        &::after {
          content: "─";
        }
      }
      &.maximize {
        background: #27c93f;
        &::after {
          content: "↕";
          font-size: 7px;
        }
      }
    }
  }

  .title {
    margin-left: 20px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
  }
}

.terminal-body {
  padding: 2rem;
  font-size: 1.1rem;
  position: relative;

  .colon {
    color: #f8f8f2; // Color blanco/crema para que resalten los dos puntos
    margin: 0 5px;
  }

  pre {
    margin: 0;
  }

  .line {
    display: block;
    white-space: pre-wrap; // Evita que se rompa el diseño en móvil
  }
  .sub-line {
    padding-left: 3rem;
  }

  // Syntax Highlighting
  .bracket {
    color: #f8f8f2;
  }
  .key {
    color: #66d9ef;
  } // Azul cian
  .string {
    color: #e6db74;
  } // Amarillo crema
  .comment {
    color: #75715e;
    font-style: italic;
    font-size: 0.9rem;
  }

  .clickable {
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 4px;
    &:hover {
      background: rgba(34, 197, 94, 0.1);
      .string {
        color: #22c55e;
      } // Cambia a tu verde al hover
    }
  }

  a {
    text-decoration: none;
    &:hover .string {
      text-decoration: underline;
      color: #22c55e;
    }
  }
}

.toast {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background: #22c55e;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.8rem;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
