.consol {
  font-family: "PT Serif", serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; // AÑADE ESTO
  z-index: 10;        // AÑADE ESTO para estar sobre las partículas
  background: transparent !important; // ASEGÚRATE de que sea transparente

  &.console-open {
    padding-top: 24vw;
    filter: blur(4px); // Opcional: queda genial cuando la consola está abierta
    transition: all 0.5s ease;
  }

  &.console-closed {
    padding-top: 5vw;
    transition: all 0.5s ease;
  }
}